{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Войти в систему</h2>
                
                <form method="POST" class="bg-light p-4 rounded shadow">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Имя пользователя</label>
                        <input type="text" name="username" id="{{ form.username.id_for_label }}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                        <input type="password" name="password" id="{{ form.password.id_for_label }}" class="form-control">
                    </div>

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
