# Виртуальное окружение
.venv/

# Файлы среды разработки PyCharm
.idea/
*.iml

# Файл базы данных SQLite
db.sqlite3

# Скомпилированные файлы байт-кода Python
__pycache__/
*.pyc

# Логи
*.log

# Пайтон кэш
.pycache/

# Временные файлы
*.tmp
*~

# Игнорируем файлы миграций, если они не нужны для деплоя
migrations/*.py

# Локальные настройки
local_settings.py